.segment {
    width: 95%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    text-align: right;
}